<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGMethods.DependsOnMethods"/>
      <class name="TestNGMethods.AnnotationsTest"/>
      <class name="TestNGMethods.InvocationCount"/>
      <class name="TestNGMethods.PrintUsingReporterLog"/>
      <class name="TestNGMethods.EnaledMethod"/>
      <class name="TestNGMethods.Priority"/>
      <class name="TestNGMethods.ExecutionBasedOnAlphabets"/>
      <class name="TestNGMethods.AlwaysRun"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
